
.terraform/
.build/
__pycache__/
*.py[cod]
Modulos/Productos/productos_lambda.zip
*.tfstate
*.tfstate.backup
*.tfplan
*.tfvars
.env
.terraform-build/
**/__pycache__/
**/*_lambda.zip
**/post_confirmation.zip
**/common_layer.zip
