window.CLOUDSHOP_CONFIG = {
  environment: "${environment}",
  liveApi: false,
  apis: {
    usuarios: "${usuarios_api_url}",
    productos: "${productos_api_url}",
    tiendas: "${tiendas_api_url}",
    compras: "${compras_api_url}",
    pedidos: "${pedidos_api_url}",
    reportes: "${reportes_api_url}"
  }
};
